<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
    <title>EJS 사용해서 list페이지 만듬</title>
  </head>
  <body class="grey-bg">
    <!-- include : 'nav.ejs파일을 그대로 가져와서 사용해주세요.' 라는 문법 -->
    <%- include('nav.ejs') %>

    <div class="white-bg">
      <% for (let i=0; i < list.length; i++){ %>
      <div class="list-box">
        <h4>
          <a href="/detail/<%= list[i]._id %>"><%= list[i].title %></a>
          <a href="/edit/<%= list[i]._id %>">✏️</a>
          <span class="delete" data-id="<%= list[i]._id %>">🗑️</span>
        </h4>
        <p><%= list[i].content %></p>
      </div>
      <% } %>
    </div>

    <div class="pagination-box">
      <!-- 1,2,3...페이지 버튼 -->
      <a href="/list/1" class="btn btn-primary">1</a>
      <a href="/list/2" class="btn btn-primary">2</a>
      <a href="/list/3" class="btn btn-primary">3</a>
      <!-- list 다음페이지 버튼 -->
      <a href="/list/next/<%= list[ list.length - 1 ]._id %>" class="btn btn-primary">next</a>
    </div>

    <!-- 
        ejs 중요 문법 3가지
        1. <% %> == html 사이에 자바스크립트 문법 사용할 때
        2. <%- %> == include같은 문법 사용할 때
        3. <%= %> == html태그를 실제 태그가 아닌 string으로 변환해서 만들어줌
    -->

    <!-- 
      ajax를 사용해서 새로고침 없이 request하기
      1. script를 열어서 addEventListener 콜백함수에 fetch함수 사용 >> fetch함수에 url을 적으면 서버에 get요청을 날려줌
      2. 두번째 파라미터에 객체문법으로 method 지정가능 >> method : 'PUT'
      3. ajax로 데이터를 전송하고 싶으면?
        headers : {'Content-Type' : 'application/json '},
        body : 데이터들 >> obj,arr를 보내고 싶으면 JSON.stringify({title : nike}) 처럼 보내주셈

      ps. query문법으로 데이터 넣기
        url?데이터명=데이터값 >> /abc?name=dongmin
          &기호로 여러 데이터를 보낼 수 있음 >> /abc?name=dongmin&age=29
        
        server에서 query문법으로 보낸 데이터 출력은 req.query로 가능
     -->

     <!-- 
      문제 발생 : JS에서 선언한 변수 i는 ejs문법에서 읽을 수가 없음
      해결 : for문을 ejs로 작성하고, 나머지 js는 script에 작성함.
            변수 i는 ejs에서 선언하였으므로 ejs문법으로 중간에 사용!
    -->
    <script>
      for (let i=0; i < '<%= list.length %>';i++){
        console.log(i)
        document.querySelectorAll('.delete')[i].addEventListener('click', function(e){
          const datasetId = e.target.dataset.id;
          const dataParent = e.target.parentElement;
          console.log(datasetId)
          fetch('/delete?docid=' + datasetId, {
            method : 'DELETE'
          })
          // ajax 성공 시 서버가 보낸 데이터 같은 것도 출력이 가능하다.
          // 현재 server.js에서 /delete, delete 요청 시 '삭제완료'라는 string을 send하고 있다.
          // 만약 서버가 보내는 데이터가 arr, obj일 경우 .then((r)=>r.json())으로 작성해주어야 한다.
          // 텍스트, arr, obj등 데이터가 들어있는 함수는 r 이다.
          // ajax를 사용할 때에는 그냥 외부 라이브러리 쓰는 게 젤 나음. >> axios를 많이 사용한다고 함
          .then((r)=>r.text())
          .then((r)=>{ console.log(r) /**여기서 r.title, r.content 등 delete가 성공하면 ajax로 데이터 불러와서 작성하면 됨 */
            dataParent.parentElement.remove();
          })
        })
      }
      // 예외처리 하는 법!
      fetch('/')
      .then((r)=>{
        if(r.status == 200) {
          return r.json()
        } else {
          // 서버가 에러코드 전송 시 실행할 코드
          alert('error!')
        }
      })
      .then((result)=>{
        // 성공 시 실행할 코드
      }).catch((error)=>{
        // 인터넷 문제 등으로 실패 시 실행할 코드
        console.log(error)
      })

      </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
